<div class="container text-center">
  <h1>Acerca de Nosotros</h1>
  <p>Somos Easy Job. Una red social enfocada en crear una comunidad donde 
  emprendedores y estudiantes de la Escuela Politécnica Nacional puedan encontrarse.</p>
  <p>Desarrollado por estudiantes de la EPN.</p>
</div>
